html,
body {
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.content {
    width: 70%;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.account-form {
    background-image: linear-gradient(to top, rgba(233, 100, 67, 0.4), rgba(144, 78, 149, 0.4)), url('/images/banner.jpg')!important;
    background-position: center!important;
    background-size: cover!important;
    background-attachment: fixed!important;
    background-repeat: no-repeat!important;
    height: 100%!important;
}

.my_message {
    width: 30%;
    right: auto;
    left: auto;
}